/* src/styles/AddCategory.css */

.add-category-container {
  padding: 20px;
  max-width: 400px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.add-category-container h2 {
  text-align: center;
}

.add-category-container form {
  display: flex;
  flex-direction: column;
}

.add-category-container label {
  margin-bottom: 5px;
}

.add-category-container input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.category-button {
  background-color: #28a745; /* Green color for Add Category button */
  color: white; /* Button text color */
  font-weight: bold;
  border: none; /* Remove border */
  padding: 10px 12px; /* Smaller padding for a compact appearance */
  border-radius: 20px; /* Rounded corners */
  font-size: 15px; /* Slightly smaller font size */
  cursor: pointer; /* Pointer cursor on hover */
  margin-top: 10px; /* Space above buttons */
  width: 100%;
}

.back-button {
  background-color: #007bff; /* Primary button color */
  color: white; /* Button text color */
  border: none; /* Remove border */
  padding: 10px 15px; /* Increased padding for better appearance */
  border-radius: 20px; /* Rounded corners */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease, transform 0.2s; /* Smooth transitions */
  margin-top: 10px; /* Space above buttons */
  display: inline-block; /* Ensures buttons are inline */
}

.submit-button:hover,
.back-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: translateY(-2px); /* Slight lift effect on hover */

}

.back-button {
  background-color: #6c757d; /* Grey color for the back button */
}

.back-button:hover {
  background-color: #5a6268; /* Darker grey on hover */
}



